#numbers-wrapper {
    background-color: antiquewhite;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    height: fit-content;
}
.num {
    background-color: darkblue;
    border-radius: 20px;
    margin: 5px;
    color: white;
    text-align: center;
}