#numbers-wrapper {
    background-color: antiquewhite;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
    height: fit-content;
}
.num {
    background-color: darkblue;
    border-radius: 20px;
    margin: 5px;
    color: white;
    text-align: center;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.popup {
    border: 1px solid black;
    height: 200px;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    position: absolute;
    top: 100px;
    left: auto;
    background-color: aliceblue;
}
.wrapper {
    height: 100px;
    width: 300px;
    padding: 20px;
    margin: 0 auto;
}
img {
    width: 100px;
    height: 100px;

}
.random-red {
    border: 1px solid red;
    border-radius: 50px;
    padding: 10px;
}

.random-green {
    border: 1px solid green;
    border-radius: 10px;
    padding: 30px;
}