

.num {
    border: 1px solid red;
    border-radius: 5px;
    padding: 50;
    margin: 0 auto;
    width: 300px;
    height: fit-content;
}

.numbers {
    background-color: blue;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}
.numbers-odd {
    background-color: red;
    border-radius: 20px;
    text-align: center;
    color: white;
    margin: 5px;
}

.wrapper {
    border: 1px solid gray;
    width: 300px;
    height: 100px;
    padding: 20px;
    margin: 40px auto;
    background-color: antiquewhite;
}
.btn {
    margin: 20px 25em;
    
    padding: 20px;
    
}