
<div [class]="randomMsg">This is random message!</div>
<div class="wrapper">
    <button (click)="toggleModal()">Toggle Modal</button>
</div>

<!-- <div id="numbers-wrapper"><
    @for ( num of numbers; track $index){
        @if (num % 2 === 0){
            <div class="num blue">This is blue line: {{num}}</div>
        }@else {
            <div class="num red">This is red line: {{num}}</div>
        }
    }
</div> -->

@if (isShown){
    <div class="popup">
        <div>
            <img [attr.src]="dogImg" />
        </div>
        
        <input type="text" placeholder="email" />
        <button>Click</button>
    </div>
}
