.navbar {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    background-color: aqua;
    gap: 10px;
}
button {
    cursor: pointer;
}

button:hover {
    background-color: burlywood;
    color: white;
}